<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <div>
          <h1 class="mb-0">{{ title }}</h1>
        </div>
        <div>
          <button
            mat-icon-button
            aria-label="Dashboard"
            routerLink="/dashboard"
            matTooltip="Dashboard"
          >
            <mat-icon>dashboard</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Lista de heróis"
            routerLink="/heroes"
            matTooltip="Heroes List"
          >
            <mat-icon>sports_martial_arts</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
